*{
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
body{
    overflow-x: hidden;
    margin: 0px;
}
/*Configuracion del encabezado*/


header{
    position: sticky;
	top: 0%;
	left: 0%;
    right: 0%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	transition: 0.9s;
	padding: 80px 0px;
	z-index: 1000;  
    
  
}

.nav-toggle {
    display: none;
    color: black;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 100px;
    cursor: pointer;
    
    position: absolute;
    right: 15%; /* Ajusta la distancia desde el borde izquierdo */
    top: -10px; /* Ajusta la distancia desde la parte superior */
    z-index: 1000; /* No es necesario especificar "px" en la unidad */

  }
header.abajo{
	background:white;
	padding: 80px 0px;
}
header.abajo .menu img{
	position: absolute;
    top: -30%;
}

.navigation ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    
}
.header .navigation ul li a{
    font-size: 18px;
    color: #e62e2d;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .5s ease;
    letter-spacing: 1px;
    position: relative;
}
.header .navigation ul li a:hover{
    background-color: #0e1d68;
    border-radius: 20px;
    padding: 10px 10px;
    color: white;

}

#toggle,
.header label{
    display: none;
    cursor: pointer;
}
.menu img{
    width: 250px;
    height: 250px;
    left: 5%;
    top: -20%;
    bottom: 0%;
    right: 0%;
    position: absolute;
    
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e1d68;
    color: white;
    text-align: center;


}

.red-social{
    display: flex;
    align-items: center;
    position: absolute;
    left: 1%;
    right: 0%;
    letter-spacing: 15px;
    font-size: 25px;
}
.fa-facebook{
    text-decoration: none;
    color: white;
    width: 30px;
    
}
.fa-google{
    text-decoration: none;
    color: white;
}
.Whatsapp2{
    text-decoration: none;
    font-size: 30px;
    color: white;
}
.fa-envelope,
.parrafo-footer2,
.parrafo-footer4,
.fa-warehouse,
.parrafo-footer5,
.primer,
.segundo,
.parrafo-footer3 {
    display: flex;
    align-items: right;
    padding: 10px;
    position: relative;
    left: 17%;
    color: white;
    
}

.fa-envelope,
.fa-warehouse,
.primer,
.segundo {
    font-size: 20px;
    color: white;
}

.fa-envelope,
.primer,
.segundo {
    text-decoration: none;
}




/*Configuracion de la primera pagina*/

.Pag1 {
	
    background-image: url(https://www.servicetonic.com/wp-content/uploads/2020/10/Service-Desk-para-Transportes-y-Logistica.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left;
    /*background-attachment: fixed;  en caso que quiera que el mismo fondo para todos*/
    background-color: white;
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,.4);
    scroll-behavior: smooth;
    height: 100vh;
}

.N{
    position: relative;
    text-align: center;
    justify-content: center;
    left: 0%;
    right: 0%;
    top: 60px;
    bottom: 0%;
    margin: auto;
    font-size: 60px;
    color: white;
}

span{
    position: relative;
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 63ch;
    height: 5%;
    margin: auto;
    left: 0;
    right: 0;
    top: 30%;
    bottom: 0;
    animation: typing 5500ms steps(63) infinite alternate-reverse, 
    blink 5s infinite step-end alternate;
    overflow: hidden;

    font-size: 20px;
    color: white;
}
@keyframes typing{
    from{width: 0;}
    
    
}
@keyframes blink{
    50% {border-color: transparent;}
}
.contenedor-boton {
    position: relative;
    top: 55%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.button {
    background-color: blue;
    border-radius: 10px;
    color: white;
    width: 150px;
    height: 50px;
}

.button:hover {
    background-color: red;
    color: white;
    transform: scale(1.0);
    cursor: pointer;
}

.button:active {
    transform: scale(0.9);
}


/* Configuracion de Pag2*/



.Somos{
    position: relative;
    font-size: 50px;
    color:#0e1d68;
    left: 3%;
    top: 0%;
    text-align: left;
    justify-content: center;
    
}


.Brismart{
    width: 37%;
    height: 180px;
    border-radius: 5%;
    box-shadow: 16px 14px 20px #101010;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 2%;
    top: 0%;
    right: 0%;
    padding: 5px;
    text-align: justify;
}
.Brismart::before{
    content: "";
    position: absolute;
    width: 1000px;
    height: 1000px;
    background-color: red;
    background-image: conic-gradient(blue 20deg, transparent 120deg);
    animation: rotar 2s linear infinite;
}
@keyframes rotar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }

    
}
.Brismart::after{
    content: "";
    position: absolute;
    height: 180px;
    width: 99%;
    background-color:white;

}


.canal{
    color: black;
    z-index: 2;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.canal2{
    color: black;
    z-index: 2;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.Vision{
    position: relative;
    width: 50%;
    font-size: 30px;
    color: #0e1d68;
    left: 3%;
    top: 0%;
    right: 0%;
    text-align: left;
    justify-content: center;

}
.parrafoVision{
    position: relative;
    width: 40%;
    text-align: justify;
    top: 0%;
    left: 2%;
    right: 0%;
    justify-content: center;
    align-items: center;
    
   
   
}

.Mision{
    position: relative;
    font-size: 30px;
    color: #0e1d68;
    left: 7%;
    top: 0%;
    right: 0%;
    text-align: left;
    justify-content: left;
    width: 50%;

}
.parrafoMision{
    
    position: relative;
    width: 40%;
    text-align: justify;
    top: 0%;
    left: 2%;
    right: 0%;
    justify-content: center;
    align-items: center;
   
   
}

.slider{
    position:relative;
    top: 0%;
    bottom: 0%;
    left: 40%;
    right: 0%;
    width: 60%;
    height: 850px;
    margin-left: 100px;
    margin-top: -750px;
    overflow: hidden;
    display: flex;
  }
  .slider ul{
      display: flex;
      animation: cambio 15s infinite alternate linear;
      width: 100%;
    
      
  }
  .slider li{
      width: 100%;
      list-style: none;
    
  }
  .slider img{
      width: 810px;
      height: 800px;
      
      
  }
  @keyframes cambio{
      0%{margin-left: 0;}
      25%{margin-left: 0;}
      
      35%{margin-left: -115%;}
      45%{margin-left: -115%;}
      
      50%{margin-left: -215%;}
      70%{margin-left: -215%;}
      
      75%{margin-left: -315%;}
      100%{margin-left: -315%;}
  }

/* Configuracion de Pag3*/
.Galeria2{
    
    width: 80%;
    height: 700px;
}
.Galeria2 h1 {
    text-align: center;
    justify-content: center;
    margin: 20px 0 15px 0;
    position: absolute;
    left: 0%;
    right: 0%;
    font-size: 50px;
    color: #0e1d68;
    
}


.linea2 {
    border-top: 5px solid blue;
    margin-left: 170px;
    margin-bottom: 100px;
    
}

.Contenedor-Imagenes2 {
    display:flex;
    width: 120%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.Contenedor-Imagenes2 .imagen2 {
    width: 27%;
    position: relative;
    height: 250px;
    margin-right: 20px;
    margin-bottom: 30px;
   
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
}
.Contenedor-Imagenes2 .imagen2 img {

    filter: brightness(0.5); /* Aplicar el filtro de oscuridad solo a la imagen */
    transition: filter 0.5s; /* Agregar una transición para suavizar el cambio de filtro */
}

.Contenedor-Imagenes2 .imagen2:hover img {
    filter: brightness(1); /* Cambiar el filtro al 100% en hover */
}
.Contenedor-Imagenes2 h2{
    position: absolute;
    top: 120px;
    font-size: 25px;
    left: 25px;
    color:white;   
    text-transform: uppercase;
    
    width: 100%;
    top: 100px;
}
.imagen2 img {
    width: 120%;
    height: 100%;
    
}



.contenedor-boton1{
    position:absolute;
    top: 190px;
    left: 20px;
 

}
.button1 {
    background-color: blue;
    border-radius: 10px;
    color: white;
    width: 100%;
    height: 50px;
}

.button1:hover {
    background-color: red;
    color: white;
    transform: scale(1.0);
    cursor: pointer;
}

.button1:active {
    transform: scale(0.9);
}
/* Configuracion del footer*/
.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 0px;
    border-top: 2px solid black;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: black;
    /*color: #7a7a7a;*/
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #0e1d68;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.box__footer a:hover{
    
    color: red;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: left;
    padding: 0px 0px;
   
}

.box__copyright p{
    width: 50%;
    color: #0e1d68;
}
.box__copyright2{
    max-width: 1200px;
    margin: auto;
    text-align: right;
    padding: 0px 0px;
}

.box__copyright2 p{
    margin-top: -35px;
    color: #0e1d68;
}
.box__copyright hr{
    border: none;
    position: relative;
    bottom: 20px;
    height: 2px;
    background-color: black;
}
@media screen and (max-width: 500px){
    .Pag1{
        background-size: 120%;
    }
    .contenedor-boton{
        position: absolute;
        top: 120%;
    }
    .header{
        padding: 40px;
        background: white;
    }
    
    .navigation{
        display: block;
        background-color: white;
        position: fixed;
        top: 29%;
        flex-direction: column;
        overflow-y: auto;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: ease-in-out 0.5s;
        padding-top: 10px;
        line-height: 3.5em;
      }
    .navigation ul{
        right: 0%;
        width: 10%;
        position: absolute;
        top: 0%;
        left: 0%;
        bottom: 30%;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
    
      .navigation_visible {
        left: 0px;
      }
      .nav-toggle{
        display: block;
      }
      header.abajo .nav-toggle{
        right: 15%;
      }
      .nav-toggle:focus:not(:focus-visible) {
        outline: none;
      }
      .menu img{
            position: absolute;
            width: 150px;
            height: 150px;
            left: -5%;
            top: -30px;
            bottom: 0%;
            z-index: 1000px;
      }
      
      header.abajo{
        padding: 40px;
        background-color: white;
      }

      header.abajo .menu img{
        position: absolute;
        top: -30px;
        z-index: 1000;
      }
      header.abajo .navigation{
        background-color: white;
        top: 0px;
      }
      span{
        font-size: 18px;
        text-wrap: wrap;
        width: 100%;
        text-align: center;
        animation: none;
      }
      
    .Somos{
        position: relative;
        text-align: center;
        justify-content: center;
        left: 0%;
    }
    .Brismart{
        width: 90%;
        border-color: transparent;
        white-space: normal;
        position:relative;
        left: 3%;
        top: 0;
    }
    .slider{
        position:relative;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 0%;
        width:530px;
        height: 480px;
        margin-top: -500px;
        text-align: center;
        transform: translate(-20%, 115%);
       
    }
    .slider img{
        width: 500px;
        height: 400px;
        
        
    }
    .Mision{
        position: relative;
        left: 0%;
        width: 100%;
        top: 0%;
        text-align: center;
        justify-content: center;
    }
    .parrafoMision{
        position: relative;
        left: 2%;
        width: 92%;
        margin-top: 0%;
    }
    .Vision{
        position: relative;
        left: 0%;
        width: 90%;
        text-align: center;
        justify-content: center;
    }
    .parrafoVision{
        position: relative;
        left: 2%;
        width: 92%;
    }
    .box{
        height: 19vh;
    } 
    .red-social{
        position: absolute;
        text-align: center;
        justify-content: left;
        top: 1%;
        left: 5%;
        
    }
    .primer{
        position: absolute;
        text-align: center;
        justify-content: right;
        top: 0%;
        left: 55%;
        
    }
    .parrafo-footer2{
        position: absolute;
        text-align: center;
        justify-content: center;
        top: -2%;
        right: 0%;
        left: 50%;
        
    }
    .segundo{
        position: relative;
        text-align: center;
        justify-content: right;
        bottom: 0;
        top: 0%;
        left: 4%;
    }
    .parrafo-footer3{
        position: relative;
        text-align: center;
        justify-content: right;
        top: 0%;
        right: 68%;
        left: 0%;
    }
    .fa-warehouse{
        position: absolute;
        text-align: center;
        justify-content: center;
        top: 12%;
        left: 10%;
        
    }
    .fa-envelope{
        position: relative;
        left: 0%;
        top: 0%;
        bottom: 0;
        right: 0;
        text-align: center;
        justify-content: center;
    }
    .parrafo-footer4{
        position: relative;
        text-align: center;
        justify-content: center;
        left: -4%;
        right: 0%;
        top: 0%;
        bottom: 0%;
    }
    .parrafo-footer5{
        position: absolute;
        text-align: center;
        justify-content: center;
        top: 10%;
        right: 14%;
    }
    .box2 {
        flex-direction: column;
    }
    
    .Galeria2{
        height: 2300px;
        position: relative;
        top: 550px;

    }
    .linea2{
        position: relative;
        top: -140px;
        margin-left: 50px;
        margin-right: -50px;
    }
    .Galeria2 h1{
        top: 100px;
        text-align: center;
        justify-content: center;
        position: relative;
        left: 15%;
        right: 0%;
    }
    .Contenedor-Imagenes2{
        display: grid;
        
    }
    .imagen2 img{
        width: 300px;
    }
    .overlay2{
        width: 300px;
    }
    /* Ajusta las posiciones según sea necesario para dispositivos móviles */
    .Nosotros, .Contactanos, .Servicios {
        left: 0;
        right: 0;
        top: initial;
        bottom: 20px;
    }

    .red-social2 {
        top: initial;
        bottom: 20px;
    }

    .Casa,
    .parrafo-footerO {
        left: 0;
        top: initial;
        bottom: 20px;
    }

    .parrafo-footerI,
    .Carta,
    .parrafo-footerE {
        top: initial;
        bottom: 20px;
    }
    .box__copyright p{
   
     
            width: 100%;
           
        
    }
    .box__copyright2 p{
        text-align: left;
        margin-top: 30px;
        color: #7a7a7a;
    }
    .Contenedor-Imagenes2 .imagen2 h2{
        font-size: 20px;
        text-wrap: nowrap;
    }
    
}
@media screen and (min-width: 501px) and (max-width: 768px){ 
    .Pag1{
        background-size: 120%;
    }
    .nav-toggle {
        display: none;
    }
    .red-social{
        position:absolute;
        left: 40%;
        
        justify-content: center;
        text-align: center;
        right: 0%;
        top: 0%;
        color: white;

        width: 20%;
        letter-spacing: 20px;
        font-size: 30px;
    }
    .fa-facebook{
        color: white;
        text-decoration: none;
        
    }
    .fa-google{
        color: white;
        text-decoration: none;
        
    }
    .Whatsapp2{
        color: white;
        text-decoration: none;
        font-size: 35px;
    }
    .fa-envelope,
    .parrafo-footer2,
    .parrafo-footer4,
    .fa-warehouse,
    .parrafo-footer5,
    .primer,
    .segundo,
    .parrafo-footer3 {
        width: 100%;
        text-align: center;
        justify-content: center;
        position: relative;
        left: 0%;
    }
 
    .menu img{
        position: absolute;
        left: -5%;
        top: -30%;

    }
    .contenedor{
        width: 140%;
        font-size: 40px;
        left: -100px;
        top: 50%
    }
    .Presentacion{
        position: relative;
        left: 5%;
        right: 0%;
        text-align: center;
        justify-content: center;
    }

    .box__copyright p{
        text-wrap: nowrap;
    }
    .box__copyright2 p{
        text-align: left;
        margin-top: 30px;
        color: #7a7a7a;
    }
    .Somos{
        text-align: center;
        left: 0%;
    }
    .Brismart{
        width: 95%;
    }
    .slider{
        top: 220px;
    }
    .slider img{
        width: 500px;
        height: 600px;
    }
    .Mision{
        left: 2%;
    }
    
    
    .Contenedor-Imagenes2 .imagen2 h2{
        top: 70px;
        
    }
}